@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.bg-custom-gradient {
  background:
    /* Azul esverdeado (superior esquerdo) */
    radial-gradient(circle at 0% 0%, #b7e6e2, transparent 50%),
    /* Cinza claro (superior direito) */
    radial-gradient(circle at 100% 0%, #e2e5e3, transparent 50%),
    /* Azul água (inferior esquerdo) */
    radial-gradient(circle at 0% 100%, #7ddfdd, transparent 50%),
    /* Azul claro (inferior direito) */
    radial-gradient(circle at 100% 100%, #81c2df, transparent 50%),
    /* Azul pastel (centro) */
    radial-gradient(circle at 50% 50%, #b8d4e0, transparent 70%),
    /* Fundo base para mistura */
    linear-gradient(135deg, #b7e6e2, #81c2df);
  background-blend-mode: overlay;
  min-height: 100vh;
}